html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/** Fuentes
    font-family: 'Anton', sans-serif;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Play', sans-serif;
**/

/** Generales **/
body {
    background-color: #37050b;
}

ul {
    list-style: none;
}

/** Globales **/
.contenedor {
    max-width: 1000px;
    margin: 0 auto;
}

/** Header ***************** **/
header {
    background: rgb(2, 1, 20);
    background: linear-gradient(129deg, rgba(2, 1, 20, 1) 0%, rgba(102, 9, 4, 1) 54%, rgba(15, 10, 27, 1) 100%);
    width: 100%;
    max-height: 110px;
    box-shadow: 0px 10px 10px #292828;
}

.barra-header,
.barra-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.barra-header>.imagen>a>img,
.barra-footer>.imagen>a>img {
    width: 75px;
    height: 65px;
    border-radius: 120px;
    margin-left: 50px;
}

.barra-header>h1>a {
    color: rgb(224, 224, 224);
    margin-left: 20px;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

/** redes sociales **/
.barra-header>ul,
.barra-footer>ul {
    display: flex;
    align-items: center;
}

.barra-header>ul>li,
.barra-footer>ul>li {
    margin-right: 25px;
    font-size: 40px;
}

.barra-header>ul>li>a,
.barra-footer>ul>li>a {
    text-decoration: none;
    color: rgb(224, 224, 224);
}

/** Menu ********************** **/
nav {
    background-color: #000000;
    width: 100%px;
    height: 40px;
    margin-top: 0 auto;
    border: 1px solid #333333;
    box-shadow: 0px 15px 10px rgb(70, 69, 69);
}

nav>ul>li {
    line-height: 38px;
    float: left;
}

nav>ul>li>a {
    color: #ffffff;
    display: block;
    padding: 0px 30px;
    font-family: 'Play', sans-serif;
    transition: all 400ms ease-in;
}

nav>ul>li>a:hover {
    text-decoration: none;
    background-color: rgb(240, 233, 233);
    color: #610905;
    border-radius: 5px;
}

/** Barra 3D **/
.barra {
    width: 1000px;
    margin: 0 auto;
}

.esquina-izquierda {
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #000000;
    float: left;
}

.esquina-derecha {
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #000000;
    float: right;
}

.relleno-barra {
    display: block;
    width: 960px;
    height: 10px;
    background-color: #000000;
    float: left;
}

/** Contenido  ************************/
.contenido {
    width: 85%;
    margin: 0 auto;
}

.contenido-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 750px;
    margin: 15px 0px;
}

.noticias {
    flex-basis: 79.6%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
}

/** inicio -------------- **/
.inicio,
.sobre-nosotros {
    width: 90%;
    height: 450px;
    margin: 0 auto;
    margin-top: 30px;
}

.inicio>h1,
.sobre-nosotros>h1 {
    text-align: center;
    font-family: "Anton", sans-serif;
    margin-bottom: 20px;
}

.inicio>img {
    width: 200px;
    float: left;
    border-radius: 150px;
}

.inicio> div{
    padding-left: 220px;
    margin-top: 28px;
}
.inicio>div>p {
    line-height: 22px;
    font-family: "Play",sans-serif;
    font-size: 18px;
}

.inicio>div>p>a{
    text-decoration: none;
    color: #000000;
    transition: all 350ms ease;
}

.inicio>div>p>a:hover{
    color: #df655c;
}

/** sobre-nosostros -------------- **/
.sobre-nosotros>div>img{
    width: 200px;
    float: right;
}

.sobre-nosotros>div>div{
    padding-top: 70px;
    padding-left: 85px;
}

.sobre-nosotros>div.texto{
    margin-top: 20px;
    padding: 0 15px;
}

.sobre-nosotros>p{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}


/** noti-principal ---***--- **/
.noti-principal {
    border: 1px solid #000000;
    border-radius: 10px;
    height: 312px;
    padding: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(173deg, rgba(2, 0, 36, 1) 10%, rgba(2, 0, 36, 1) 19%, rgba(9, 9, 121, 1) 49%, rgba(0, 212, 255, 1) 97%);

}

.noti-principal>img {
    float: left;
    height: 290px;
    width: 550px;
    border-radius: 15px;
    margin-right: 25px;
}

.noti-principal>div {
    overflow: hidden;
    height: 280px;
}

.noti-principal>div .titulo,
.noti-secundarias>div .titulo {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    color: #d0cece;
    float: right;
}

.noti-principal>div .subtitulo,
.noti-secundarias>div .subtitulo {
    font-family: 'Play', sans-serif;
    font-size: 28px;
    color: #d0cece;
}

.noti-principal>div .subtitulo>.fecha,
.noti-secundarias>div .subtitulo>.fecha {
    float: right;
    font-size: 15px;
    margin-top: 10px;
}

.noti-principal>div .boton,
.noti-secundarias>div .boton {
    margin-top: 15px;
    float: right;
    background-color: #04033f;
    width: 50px;
    text-align: center;
    border: 1px dashed #04033f;
    border-radius: 5px;
    transition: all 400ms ease;
}

.noti-principal>div .boton>a,
.noti-secundarias>div .boton>a {
    display: block;
    color: #d0cece;
    text-decoration: none;
}

.noti-principal>div .boton:hover,
.noti-secundarias>div .boton:hover {
    background-color: #119ac0;
    box-shadow: 0px 2px 2px #000000;
}

.noti-principal>div .boton>a:hover,
.noti-secundarias>div .boton>a:hover {
    color: #fffefe;
}

/** noticias antiguas contenedor **/
.noti-antiguas {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

/** noti-secundarias **/
.noti-secundarias {
    margin-top: 10px;
    flex-basis: calc(33.33% - 1rem);
    height: 420px;
    border: 1px solid #000000;
    border-radius: 15px;
    overflow: hidden;
    background: rgb(2, 0, 36);
    background: linear-gradient(356deg, rgba(2, 0, 36, 1) 1%, rgba(2, 0, 36, 1) 4%, rgba(9, 9, 121, 1) 15%, rgba(0, 212, 255, 1) 77%);

}

.noti-secundarias>img {
    width: 100%;
    height: 50%;
}

.noti-secundarias>div {
    padding: 10px 8px;
}

.noti-secundarias>div .titulo {
    font-size: 25px;
    float: none;
    text-align: center;
}

.noti-secundarias>div .subtitulo {
    font-size: 18px;
}

/** Paginacion --------------------------- **/
.paginacion {
    text-align: center;
}

.paginacion>a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
    color: #000000;
    font-family: 'Play', sans-serif;
    transition: all 300ms ease;
}

.paginacion>a:hover {
    color: #610905;
    font-size: 20px;
}

.paginacion>span {
    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/** categorias *------------------  **/
.categorias {
    flex-basis: calc(19.2% - 0.5rem);
    background-color: #d0cece;
    border-radius: 15px;
    padding: 10px;
}

/** buscador **/
form.buscador {
    width: 95%;
    height: calc(11%);
    margin-top: 15px;
}

form.buscador>input[type="text"] {
    width: 95%;
    height: 30px;
}

form.buscador>input[type="submit"] {
    width: 40%;
    height: 28px;
    padding: 0;
    margin-top: 10px;
}


/** menu categorias **/
ul.menu-categorias {
    border: 1px solid #bebdbd;
    border-radius: 8px;
    padding: 0;
    width: 95%;
    max-height: calc(35%);
    overflow-y: scroll;

}

ul.menu-categorias::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

ul.menu-categorias::-webkit-scrollbar-thumb {
    background: #37050b;
    border-radius: 10px;
}

ul.menu-categorias>li {
    border: 1px solid #000000;
    padding: 10px 20px;
    background-color: #969595;
    transition: all 300ms ease;
}

ul.menu-categorias>li:hover {
    background-color: #cccccc;
}

ul.menu-categorias>li>a {
    color: #000000;
    text-decoration: none;
    transition: all 300ms ease;
}

ul.menu-categorias>li>a:hover {
    color: #610905;
}

/** redes **/
ul.redes {
    border: 0px solid #000000;
    border-radius: 15px;
    margin-top: 35px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 58px;
}

ul.redes>li {
    padding: 0;
    font-size: 50px;
    transition: all 200ms ease;
}

ul.redes>li>a {
    color: #1a1919;
}

ul.redes>li>a:hover {
    color: #610905;
}

ul.redes>li:hover {
    font-size: 60px;
}

/** noticias indivuduales -------------- **/
.noticia-individual {
    width: 95%;
    margin: 0 auto;
}

.noticia-individual>.imagen {
    width: 50%;
    height: 180px;
    border: 1px solid #bebdbd;
    padding: 10px;
    margin: 0 auto;
}

.noticia-individual>.imagen>img {
    width: 100%;
    height: 100%;
}

.noticia-individual h1 {
    font-family: 'Anton', sans-serif;
    font-size: 60px;
}

.noticia-individual>h2 {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
}

.noticia-individual>.fecha {
    font-family: 'Play', sans-serif;
    font-size: 15px;
    color: gray;
}

.noticia-individual>.fecha>.nombre {
    text-transform: uppercase;
}

.noticia-individual>.categoria {
    margin-top: 10px;
}

.noticia-individual>.categoria>a {
    text-decoration: none;
    color: #000000;
    transition: all 400ms;
}

.noticia-individual>.contenido-noticia {
    margin-top: 5px;
    padding: 15px;
}

.noticia-individual>.contenido-noticia>p {
    color: #000000;
    font-size: 15px;

}

/** FOOTER -----------------------------------**/
footer {
    background-color: #333333;
    width: 100%;
    height: 80px;
}

.barra-footer>ul>li {
    font-size: 25px;
}

.barra-footer>.informacion>a {
    color: azure;
    text-decoration: none;
    transition: all 400ms;
}

.barra-footer>.informacion>a:hover,
.noticia-individual>.categoria>a:hover {
    color: #df655c;
}