{% extends 'layouts/layout.html'%}
<!-- Titulo de la ventanada  -->
{% block title %}
{{title}}
{% endblock %}
<!-- Comienza el contenido  -->
<!-- Noticias  ---------------- -->
{% block news %}
<h1>{{title}}</h1>
{% for noticia in noticas_busquedas%}
<div class="noticias-buscadas">
    <h1>{{ noticia.titulo }}</h1>
    {% if noticia.imagen != 'null' and noticia.imagen.url|length >= 1 %}
    <img src="{{noticia.imagen.url}}" alt="kodbox">
    {% endif %}
    <div>
        <div class="datos">
            <h2>{{ noticia.subtitulo }}</h2>
            <p>
                <span>{{ noticia.usuario }}</span> |
                {{ noticia.creado_el }}
            </p>
        </div>
        <div class="boton">
            <a href="{% url 'noticia' noticia.id%}">ir</a>
        </div>
    </div>
</div>
{% endfor%}
{% endblock %}