{% extends 'layouts/layout.html'%}
<!-- Titulo de la ventanada  -->
{% block title %}
{{ noticia.titulo }}
{% endblock %}
<!-- Comienza el contenido  -->
<!-- Noticiaa  ---------------- -->
{% block news %}
<!-- noticia individual  -->
<div class="noticia-individual">
    <div class="imagen">
        {% if noticia.imagen != 'null' and noticia.imagen.url|length >= 1 %}
        <img src="{{noticia.imagen.url}}" alt="kodbox">
        {% endif %}
    </div>

    <h1>{{ noticia.titulo }}</h1>
    <h2>{{ noticia.subtitulo }}</h2>
    <div class="fecha">
        <span class="nombre">{{ noticia.usuario.first_name }}</span> |
        <span>{{ noticia.creado_el}}</span>
    </div>
    <div class="categoria">
        {% for categoria in noticia.categorias.all %}
        <a href="{% url 'categoria' categoria.id %}">{{ categoria }}</a>
        {% endfor %}
    </div>
    <div class="contenido-noticia">
        {{ noticia.contenido|safe }}
    </div>
</div>
{% endblock %}