<!-- Noticia principal  -->
<div class="clearfix"></div>
<div class="noti-principal">
    <!-- Comprobar si hay imagen  -->
    {% if noticia_principal.imagen != 'null' and noticia_principal.imagen.url|length >= 1 %}
    <img src="{{noticia_principal.imagen.url}}" alt="kodbox">
    {% endif %}
    <div>
        <div class="titulo">{{ noticia_principal.titulo }}</div>
        <div class="clearfix"></div>
        <div class="subtitulo">
            {{ noticia_principal.subtitulo }}
            <div class="clearfix"></div>
            <div class="fecha">
                {{ noticia_principal.creado_el }}
                {{ noticia_principal.usuario }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="boton">
            <a href="{% url 'noticia' noticia_principal.id %}">IR</a>
        </div>
    </div>
</div>