<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/kodbox-logo.ico'%}" type="image/x-icon">
    <!-- Aqui utilizamos bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- fontaweson -->
    <script src="https://kit.fontawesome.com/b61be4fabc.js" crossorigin="anonymous"></script>
    <!-- Fonts Google  -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <!-- Mi CSS  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Header  -->
    <header>
        <div class="contenedor">
            <div class="barra-header">
                <div class="imagen">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/kodbox-logo.png'%}" alt="Logo kodbox">
                    </a>
                </div>
                <h1>
                    <a href="{% url 'index' %}">KODBOX</a>
                </h1>
                <ul>
                    <li><a href="https://www.facebook.com/KodBoxCode"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="https://twitter.com/KodboX_"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCoEIYAsPco1b1AKyDDVi3fg"><i
                                class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Menu  -->
    <div class="contenedor">
        <nav>
            <ul>
                <li>
                    <a href="{% url 'index' %}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'noticias' %}">Noticias</a>
                </li>
                <li>
                    <a href="{% url 'sobre nosotros' %}">Sobre nosotros</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="contenedor">
        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Contenido  -->
    <div class="contenido">
        <div class="contenido-principal">
            <!-- noticias  -->
            <main class="noticias">
                {% block news %}
                {% endblock%}
            </main>
            <!-- categorias -->
            <aside class="categorias">
                <h2>Categorias</h2>
                
                <form class="buscador" action="{% url 'buscar' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="Titulo de la noticia" name="titulo">
                    <input type="submit" value="guardar">
                </form>
                {% include 'categorias/menu_categorias.html'%}
                <ul class="redes">
                    <li><a href="https://www.facebook.com/KodBoxCode"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="https://twitter.com/KodboX_"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCoEIYAsPco1b1AKyDDVi3fg"><i
                                class="fab fa-youtube"></i></a></li>
                </ul>
            </aside>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- footer  -->
    <footer>
        <div class="contenedor">
            <div class="barra-footer">
                <ul>
                    <li><a href="https://www.facebook.com/KodBoxCode"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="https://twitter.com/KodboX_"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCoEIYAsPco1b1AKyDDVi3fg"><i
                                class="fab fa-youtube"></i></a></li>
                </ul>
                <div class="imagen">
                    <a href="{% url 'inicio' %}">
                        <img src="{% static 'img/kodbox-logo.png'%}" alt="Logo kodbox">
                    </a>
                </div>
                <div class="informacion">
                    <a href="#">Sobre nosotros</a>
                    <p>Creado por Luis-Blash &copy;</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- bootsrap  -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>